* {
    margin: 0;
}

body {
    background-image: url(../assets/Sin\ título-1.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

@font-face {
    font-family: ketchum;
    src: url(../assets/fonts/Ketchum.otf);
}
@font-face {
    font-family: ochobits;
    src: url(../assets/fonts/8-BIT\ WONDER.TTF);
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

footer {
    width: 100%;
    background-color: transparent;
    padding: 20px 0 10px 0;
}

h1 {
    color: rgb(255, 238, 0);
    background-image: url(../assets/fakemon.png);
    background-size:contain;
    background-repeat: no-repeat ;
    text-shadow: 1px 1px 4px black;
    font-family: ketchum;
    text-align: center;
    padding: 50px 0 50px 0;
}

h3, .intoNokedex {
    text-shadow: 0px 0px 1px black;
    background-color: crimson;
    padding: 10px 0 10px 0;
    color: rgb(255, 208, 0);
    font-family: ketchum;
    text-align: center;
    width: 100%;
}
a {
    text-decoration: none;
    color:rgb(255, 208, 0);
    font-size: xx-large;
    padding: 10px;
}
a:hover {
    background-color: rgba(0, 0, 0, 0.404);
}
.fuente-pred{
    font-family: ketchum;
    color: rgb(220, 20, 60);
}
.popup-class {
    border-radius: 15px;
}


.mazo {
    background-color: rgba(235, 231, 231, 0.075);
    box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.507);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 10px;
}

.carta {
    background-color: transparent;
    width: 90px;
    height: 160px;
    border-radius: 15px;
    margin: 3px;
}

.carta-int {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    transition: all 0.5s 0.05s;
    border-radius: 15px;
}

.carta-int:hover {
    background-color: rgba(255, 255, 255, 0.089);
}


.activador {
    width: 110px;
    height: 45px;
    margin: 10px 0 10px 0;
    color: crimson;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 15px;
    font-family: ketchum;
    border: solid 1px rgb(255, 238, 0);
    transition: all 0.2s;
}

.campeones ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.campeones li {
    margin: 15px;
    color: crimson;
    text-shadow: 1px 1px 4px rgb(255, 238, 0)
}

.important-btns {
    display: flex;
    justify-content: space-evenly;
}

#deseleccionador {
    display: inline;
    margin: 15px;
}

#enviar {
    display: inline;
    margin: 15px;
}

.activador:hover {
    background-color: rgba(255, 238, 0, 0.363);
    cursor: pointer;
}

.consola {
    background-color:rgba(235, 231, 231, 0.075);
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

.consola ul li {
    color: crimson;
    font-size: large;
    text-shadow: 1px 1px 4px rgb(255, 238, 0);
    ;
}

.contenedorCentrador {
    display: flex;
    justify-content: center;
}

.controles {
    display: flex;
}

.controles-a {
    background-color: rgba(235, 231, 231, 0.075);
    box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.507);
    border-radius: 15px;
    margin: 10px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    animation: fadein 0.5s linear;
}

.controles-b {
    background-color: rgba(235, 231, 231, 0.075);
    box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.507);
    border-radius: 15px;
    margin: 10px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    animation: fadein 0.5s linear;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.textoNokedex {
    font-family: ketchum;
    display: inline;
    text-align: center;
}
#nokemons-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.itemNokedex {
    display: flex;
    flex-direction: column-reverse;
}
.barra-de-vida {
    margin: auto;
    text-align: center;
    border-radius: 15px;
    font-family: ketchum;
}

ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

li {
    margin: 10px 0 10px 0;
    text-transform: capitalize;
    font-family: ketchum;
    list-style: none;
}

#boton1 {
    background-image: url(../nokemonsimg/1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#boton2 {
    background-image: url(../nokemonsimg/2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#boton3 {
    background-image: url(../nokemonsimg/3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#boton4 {
    background-image: url(../nokemonsimg/7.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#boton5 {
    background-image: url(../nokemonsimg/8.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#boton6 {
    background-image: url(../nokemonsimg/9.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#boton7 {
    background-image: url(../nokemonsimg/10.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#boton8 {
    background-image: url(../nokemonsimg/11.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#boton9 {
    background-image: url(../nokemonsimg/12.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#boton10 {
    background-image: url(../nokemonsimg/16.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#boton11 {
    background-image: url(../nokemonsimg/17.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#boton12 {
    background-image: url(../nokemonsimg/18.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#boton13 {
    background-image: url(../nokemonsimg/13.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#boton14 {
    background-image: url(../nokemonsimg/14.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#boton15 {
    background-image: url(../nokemonsimg/15.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#boton16 {
    background-image: url(../nokemonsimg/19.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#boton17 {
    background-image: url(../nokemonsimg/20.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#boton18 {
    background-image: url(../nokemonsimg/21.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#boton19 {
    background-image: url(../nokemonsimg/4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#boton20 {
    background-image: url(../nokemonsimg/5.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#boton21 {
    background-image: url(../nokemonsimg/6.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#boton22 {
    background-image: url(../nokemonsimg/25.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#boton23 {
    background-image: url(../nokemonsimg/26.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#boton24 {
    background-image: url(../nokemonsimg/27.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#boton25 {
    background-image: url(../nokemonsimg/22.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#boton26 {
    background-image: url(../nokemonsimg/23.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#boton27 {
    background-image: url(../nokemonsimg/24.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}